body{
	margin:0px;
	padding: 0px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
}	

.container{
	width:960px;
	margin:0 auto;
}

.header{
	width:100%;
	background: #ffffff;
	border-color: #777777;
	top:0;
	position: fixed;
}

.logo{
	float:left;
	padding:20px;
	color:white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background: lightseagreen;

}

a{
	text-decoration: none;
	color:#777777;
}

li{
	list-style: none;
	float:right;
	margin:15px;
	padding-top: 10px
}

.nav {
	float:left;
}


.content{
	position: relative;
	top:150px;

}

.content img{
	width: 40%;
}



.footer{
	width:100%;
	height: 100px;
	background: grey;
	bottom:0;
	margin:0px;

}

p{
	text-align: center;
	color:white;
	padding:40px;

}





	



